body {
  background: linear-gradient(to bottom, #615dad, #ffc8da);
  font-family: Arial, sans-serif;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-image {
  width: calc(100% + 40px);
  display: block;
  margin: -1cm -20px 0 -20px;
  border-radius: 10px 10px 0px 0px;
}

.container {
  background: #283e50;
  width: 90%;
  padding-top: 0;
  padding: 1cm 20px;
/*padding-left: 20px;
padding-right: 20px;*/
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb (0, 0, 0, 0.2);
  max-width: 350px;
  overflow: hidden;
}

h1 {
  font-family: "lobster", cursive;
  font-style: italic;
  font-size: 50px 
  margin 20px 0;
}

.description {
  font-size: 20px;
  padding: 0 22px;
  line-height: 1.6;
}

.button {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
  margin: 10px auto;
  width: 100%;
  border-radius: 5px;
  transition: 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.rules {
  background-color: #1fcca4;
  color: #ffffff;
}

.rules:hover {
  background-color: #1cbb96;
}

.start {
  background-color: #0197f6;
  color: #ffffff
}

.strart:hover {
  background-color: #0090e9;
}
