body {
  background: linear-gradient(to bottom, #615dad, #ffc8da);
  font-family: Arial, sans-serif;
  text-align: center;
  color: #ffffff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-image {
  width: 100%;
  border-radius: 10px;
}

.container {
  background: #283e50;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb (0, 0, 0, 0.2);
  max-width: 400px;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 32px;
  margin: 20px 0;
}


